
body{
  background-color: #1D273D;

}
.top_bar{
  width: 100%;
  min-width: 1050px;
  height: 55px;
  background-color: #414358;
  border-bottom: 0.25em solid #414358;
  margin-bottom: 10px;
  display: inline-flex;
  z-index: 10;
}

.back{
  background-color: #d9e4dd;
  position: relative;
  top: 15px;


}

.imagenes{
  width: 40px;
}

.column{
  background-color: #6C6E87;
  padding: 5px;
  border: 0.5px solid #6C6E87;
  border-radius: 10px;
  box-shadow: 2px 2px 1px #6C6E87;
}

.users{
  width: 25%;
  float: left;
  margin-bottom: 20px;
  margin-left: 0%;
}

.form input{
  background: none;
  width: 100%;
  height: 100%;
}

.users img{
  width: 55%;
  border-radius: 100%;

}

.users_left_right{
  display: inline-block;
  width: 125px;
  position: absolute;
  margin: 50px 15px;
  color: white;
}

.users_left_right p{
  margin-bottom: 3px;

}

.secondary_posts{
  float: left;
  width: 34%;
  max-width: 28%;
  margin-left: 0%;
  position: absolute;
  margin-top: 16%;
  margin-right: 200%;

}
  .carousel-item{
    height: 20rem;
    background: #777;
    color: white;
    position: relative;

  }
  .container{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

  }

.users a:hover{
  text-decoration: none;
}

.main_post{
  float:right;
  width: 67%;
  z-index: -1;
  min-height: 160px;
  margin-right: 3%;
  cursor: pointer;
}

.post_form{
  width: 100%;
}

.posts{
  margin: 3px 0 3px;
}

.posts img{
  border-radius: 10px;
}

.body_class{
  margin-bottom: 6px;
}

.borders{
  margin-top: 4px;
  margin-bottom: 4px;
  border-top: 2px solid #9ba4b4;

}

.post_form textarea{
  width: 80%;
  border-radius: 5px;
  border: 1px solid #d2d3c9;
  margin-right: 5px;
  height: 60px;
  font-size: 18px;
  padding: 5px;
}

.post_form [type="submit"]{
  position: absolute;
  width: 7%;
  height: 60px;
  margin-left: 3px;
}



textarea:focus{
  outline: 0;
}

.comments iframe{
  width: 100%;
  max-height: 255px;
}

.comments textarea:focus{
  outline: 0;
}

.numComment_likes{
  text-decoration: none;
}

.numComment_likes iframe{
  height: 40px;
  width: 25%;
  overflow: hidden;
  border:0px;
  position: relative;
  top: 13px;

}

a#titleLogo:hover{
  text-decoration: none;
  color:#F2F2F7;
}

a#titleLogo{
  color: #f6f5f5;
  background-color: transparent;
}

nav{
  float: right;
  right: 1px;
  position: absolute;
  margin: 10px;
}

nav a{
  position: relative;
  color:#F6F5F5;
  text-decoration: none;
  font-size: 17px;
  margin: auto 7px;
}

nav a:hover{
  text-decoration: none;
  color:#f08a5d;
}

.logo{
  margin-left: 10px;
  font-size: 125%;
  position: relative;
  top:9px;
  text-shadow: #f08a5d 0.5px 0.5px 0.5px;
}

.profile_left{
  top:-25px;
  width: 20%;
  max-width: 240px;
  min-width: 130px;
  height: 100%;
  min-height: 850px;
  float: left;
  position: relative;
  text-align: center;
  background-color: #f7dad9;
  border-right: 5px solid #f08a5d;
  right: 14px;
}

.profile_left img{
  border-radius: 100%;
  width: 60%;
  margin-top: 10px;
  border: 5px solid #f08a5d;

}

.profile_info{
  text-align: left;
  margin-top: 10px;
  margin-bottom: 15px;
  width: 100%;
  background-color: #f6f5f1;
  padding: 15px 0 15px 15px;

}

.profile_main{
  background-color: #f7dad9;
  min-height: 200px;
  margin-left: 1%;
  width: 77%;
  margin-right: 2.5%;
  float: right;
  background-color: #f7dad9;
  padding: 10px;
  border: 1px solid #fbf7f0;
  box-shadow: 2px 2px 1px #968c83;
  top:-25px;
  position: relative;
}

.format{
  margin-top: 10px;
}


.overlay-image{
  position:absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  width: calc(100% - 1px);
  height: calc(100% - 1px);

}
