
#message_textarea{
  width: 80%;
  margin-right: 8px;
  border-radius: 5px;
  border: 1px solid #D3D3D3;
  font-size: 15px;
  margin-left: 35px;
}

#message_submit{
  margin-bottom: 45px;
  height: 51px;
}

/*** CLASS SELECTORS ***/

.message{
  border: 1px solid #D3D3D3;
  border-radius: 5px;
  padding: 5px 10px;
  display: inline-block;
  color: #fff;

}

.message#blue{
  background-color: #cfd3ce;
  float: right;
  margin-bottom: 10px;
  margin-right: 40px;
}

.message#green{
  background-color: #9ad3bc;
  float: left;
  margin-bottom:10px;
  margin-left: 40px;
}

.loaded_messages{
  height: 65%;
  min-height: 300px;
  max-height: 400px;
  overflow: auto;
  margin-bottom: 10px;
}

.loaded_conversations{
  max-height: 216px;
  overflow: auto;

}

.user_found_messages{
  border-bottom: 1px solid #3D3D3D;
  padding: 8px 8px 10px 8px;
}

.find_user{
  margin-left: 2%;
  margin-bottom: 6px;


}

.found_user{
  font-size: 15px;
  display: inline-block;
  width: 35%;
  border-radius: 5px;
}

.found{
  margin-top: 20px;
  border-top: 1px solid #bbbbbb;
}
/*** SPECIAL SELECTORS ***/

.found a:hover{
  text-decoration: none;
  margin-top: 5px;
}



.user_found_messages img{
  height: 35px;
  float: left;
  margin-top: 5px;
}

.user_found_messages:hover{
  background-color: #bbbbbb;

}

.loaded_conversations a:hover{
  text-decoration: none;
}

.user_found_messages span{
  color:#000000;
}

.user_found_messages p{
  color: #000000;
}
